.general-kpi{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(160px,1fr));

    gap:20px;

    width:100%;

}

@media (max-width:768px){

.general-kpi{

    grid-template-columns:repeat(2,1fr);

    gap:12px;

}

}