/* ===========================
   TARJETA PRINCIPAL
=========================== */

.skill-table {

    width: min(100%, 1350px);

    margin: 44px auto;

    background: #ffffff;

    border:1px solid #d7e4ff;

    border-radius: 22px;

    overflow: hidden;

    box-shadow: 0 14px 32px rgba(30,58,138,.15);


}

.skill-table.inbound{
    border-top:5px solid #2563eb;
}

.skill-table.google{
    border-top:5px solid #22c55e;
}

.skill-table.facebook{
    border-top:5px solid #a855f7;
}

.skill-table.formulario{
    border-top:5px solid #f59e0b;
}
/* ===========================
   TITULO DEL SKILL
=========================== */

.skill-title{

    margin:0;

    padding:12px 18px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#eef4ff;

    color:#1e3a8a;

    font-size:22px;

    font-weight:700;

    border-bottom:1px solid #d7e4ff;

}

/* ===========================
   CONTENEDOR TM - TT
=========================== */

.turnos-container {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    gap: 24px;

    margin-top: 8px;



}

.turno-card:hover {

    transform: translateY(-5px);
    box-shadow: 0 14px 32px rgba(30,58,138,.15);

}

.turno-card {
    flex: 1;

    transition:
        transform .25s ease,
        box-shadow .25s ease;
}

.turno-title{

    padding:10px;

    background:#eef4ff;

    color:#1e3a8a;

    font-size:15px;

    font-weight:700;

    border:1px solid #d7e4ff;

    border-radius:14px 14px 0 0;

    text-align:center;

}

/* ===========================
   TABLAS
=========================== */

.skill-table table {
    width: 100%;

    border-collapse: collapse;

    background: white;

    border-radius: 14px;

    overflow: hidden;


    transition:
        transform .2s ease,
        box-shadow .2s ease;
        background: .2s ease;

}

thead {

    background: #f8fbff;
}

.skill-table:hover {

    transform: translateY(-3px);

    box-shadow: 0 14px 32px rgba(30, 58, 138, .15);

}

.skill-table tbody tr:hover {

    background: #edf4ff;

}

.skill-table th,
.skill-table td {

    padding: 5px 8px;

}

.skill-table th {
    background: #f8fbff;
    color: #1e3a8a;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

.skill-table td {
    color:#1e3a8a;
    border-top:1px solid #edf2ff;
    text-align: center;
    font-size: 16px;
}

/* ===========================
   COLORES CONVERSION
=========================== */

.conv-alta {
    background: #4caf50;
    color: white;
    font-weight: bold;
}

.conv-media {
    background: #ffc107;
    color: #222;
    font-weight: bold;
}

.conv-baja {
    background: #f44336;
    color: white;
    font-weight: bold;
}

/* ===========================
   TITULO DE LA SECCION
=========================== */

.dashboard-section h2 {
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background: #eef4ff;

    color: #1e3a8a;

    border: 1px solid #d7e4ff;

    border-radius: 22px;

    box-shadow: 0 14px 32px rgba(30,58,138,.15);
}

/* ===========================
   TOTAL DIARIO
=========================== */

.total-diario-card {

    width: 430px;

    margin: 10px auto 25px;

    background: #eef4ff;

    border: 1px solid #d7e4ff;

    border-radius: 22px;

    overflow: hidden;

    box-shadow: 0 14px 32px rgba(30,58,138,.15);

    transition:
        transform .25s ease,
        box-shadow .25s ease;

}

.total-diario-card:hover {

    transform: translateY(-3px);

    box-shadow: 0 14px 32px rgba(30,58,138,.15);

}

.total-header {

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 10px;

    font-size: 18px;

    font-weight: 700;

    background: #dbe8ff;

    color: #1e3a8a;

    border-bottom: 1px solid #c7d8ff;

}


.total-grid {

    display: flex;

    justify-content: space-evenly;

    align-items: center;

    padding: 10px 8px;

}

.total-item {

    flex: 1;

    text-align: center;

}

.total-item:not(:last-child) {

    border-right: 1px solid #dbe8ff;

}

.total-item span {

    display: block;

    color:#5f7fae;

    font-size: 14px;

    margin-bottom: 8px;

}

.total-item strong {

    color:#1e3a8a;

    font-size: 28px;

    font-weight: 700;

}

.total-item.conversion strong {

    color: #2e7d32;

    font-size: 34px;

}

.total-turno{

    background:#f8fbff;

    font-weight:700;

}

.total-turno td{

    border-top:2px solid #d7e4ff;

    color:#1e3a8a;

}

.total-turno td:first-child{

    text-transform:uppercase;

    letter-spacing:.5px;

}

/*==========================
    CONTENEDOR DE TARJETAS
==========================*/

.cards-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    margin-top: 28px;
    margin-bottom: 10px;
}

/*==========================
      PRESENTISMO
==========================*/

.presentismo-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.presentismo-item {

    padding: 10px 8px;
    text-align: center;

}

.presentismo-item:not(:last-child) {

    border-right:1px solid #dbe8ff;

}

.presentismo-item span {

    display: block;
    font-size: 13px;
    color:#5f7fae;
    margin-bottom: 8px;

}

.presentismo-item strong {

    font-size: 28px;
    color: #1458b8;

}

.presentismo-item .verde {

    color: #36b24a;

}

.presentismo-item .rojo {

    color: #ef4444;

}

.presentismo-footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #dbe8ff;

    padding: 18px 20px;

}

.presentismo-porcentaje{

    font-size:28px;

    font-weight:700;

    margin-bottom:8px;

}

.presentismo-texto{

    font-size:14px;

    color: #5977a3;

    text-align:center;

}


.presentismo-card {
    width: 430px;
}

/* Como reutilizamos total-diario-card */
.total-diario-card.presentismo {
    min-height: auto;
    display: flex;
    flex-direction: column;
}


.presentismo-content {
    flex: 1;
    display: flex;
    align-items: stretch;
}

@media (max-width:768px){

.turnos-container{

    flex-direction:column;

    gap:20px;

}

.turno-card{

    width:100%;

}

.cards-container{

    flex-direction:column;

    gap:15px;

}

.total-diario-card,
.presentismo-card{

    width:100%;

}

}